:root{
    --lightest-purple: #dfc0eb;
    --light-purple: #d5a6e6;
    --mid-purple: #cd8de5;
    --dark-purple: #a86cc1;
    --darkest-purple: #89609e;
}
body{
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #ffffff 65%, #8415ec 35%);
}
/* -----HEADER STYLING------ */
.header{
    width: 95%;
    height: 4rem;
    font-size: 3rem;
}
.logo{
    height: 50px;
    width: 50px;
    margin: 0.5% 0 0 5%;
}

/* --------LOGIN FORM STYLING------- */
.card-login{
    margin: auto;
    margin-top: 5%;
    height: 60vh;
    width: 25vw;
    background: var(--lightest-purple);
    border: 2px solid black;
    border-radius: 8px;
    color: black;
    -webkit-text-stroke: 0.3px black;
    font-size: 2rem;
    align-items: center;
}
.card-login p{
    font-size: 1.5rem;
    padding: 0;
}
.login{
    margin-top: 10%;
    padding: 5%;
}
.login input{
    width: 80%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
}